@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
  font-family: Lato, 'Open Sans', sans, sans-serif;
  background: #efefef url('../img/ticks.png') repeat 0 0;
  margin:15px 0 0 0;
  font-size:12px;
}

html, body {
  -moz-user-select:none;
  -webkit-user-select:none;
  user-select:none;
}

::-webkit-scrollbar { 
    display: none; 
}

.container { 
  position: relative; 
  width: 100%; 
  margin: 0 auto; 
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;	
}
 
#episodelist .episode {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  width:23%;
  margin:1%;
  display:none;
  float:left;
  overflow:hidden;
}

.episode-wrapper {
  overflow:hidden;
  position: relative !important;
  background: #666;
  cursor:pointer;
                border: 1px solid #d1d1d1;
}

.episode img {
  max-width:100%;
  position: relative;
}

.episode .label {
  position: absolute;
  width: 100%;
  height:auto;
  bottom:auto;
}

.episode .label-bg {
  background: #000;
  width: 100%;
  height:100%;
  position: absolute;
  top:0;
  left:0;
}

.episode .label-text {
  color:#fff;
  position: relative;
  z-index:500;
  padding:5px 8px;
}

.episode .text-category {
  display:block;
  font-size:10px;
}

/* #Tablet (Portrait) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    width: 768px; 
  }
}

/*  #Mobile (Portrait) */
@media only screen and (max-width: 767px) {
  .container { 
  width: 95%; 
  }

  #episodelist .episode {
  width:48%;
  margin:1%;
  }
}

/* #Mobile (Landscape) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
  width: 70%;
  }
}

.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
.row:after,
.clearfix:after {
  clear: both; }
.row,
.clearfix {
  zoom: 1; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

#navbar {
  background-color: #000;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 36px;
  z-index: 999;
  cursor: default;
}

#live-nav {
  position:fixed;
  right:5px;
  top:0;
  z-index: 1000;
}

@-moz-keyframes liveDrop {
  0% { -moz-transform: translateY(-40px); }
  100% { -moz-transform: translateY(0); }
}
@-webkit-keyframes liveDrop {
  0% { -webkit-transform: translateY(-40px); }
  100% { -webkit-transform: translateY(0); }
}
@keyframes liveDrop {
  0% { transform: translateY(-40px); }
  100% { transform: translateY(0); }
}

.live {
  background: red;
  border: 0 none;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size:16px;
  padding:15px;
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
  -moz-animation-name: liveDrop;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-in;
  -moz-animation-duration: 0.4s;
  -webkit-animation-name: liveDrop;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 0.4s;
  animation-name: liveDrop;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.4s;
}

.live:hover {
  box-shadow: inset 0px 0px 5px rgba(0,0,0,0.5);
}

audio {
  width:100%;
  background: #000;
}

a {
  text-decoration: none;
}

.divURL { cursor:pointer; }

.container-logo { 
  position: relative; 
  width: 100%; 
  margin: 0 auto; 
}

#navbar img:hover {
  cursor: pointer; 
  -moz-animation: swinging 1s ease-in-out 0s infinite;;
  -webkit-animation: swinging 1s ease-in-out 0s infinite;
  animation: swinging 1s ease-in-out 0s infinite;
}

@-moz-@keyframes swinging{
  0% { transform: rotate(0); }
  5% { transform: rotate(10deg); }
  10% { transform: rotate(-9deg); }
  15% { transform: rotate(8deg); }
  20% { transform: rotate(-7deg); }
  25% { transform: rotate(6deg); }
  30% { transform: rotate(-5deg); }
  35% { transform: rotate(4deg); }
  40% { transform: rotate(-3deg); }
  45% { transform: rotate(2deg); }
  50% { transform: rotate(0); }
  100% { transform: rotate(0); }
}

@-webkit-@keyframes swinging{
  0% { transform: rotate(0); }
  5% { transform: rotate(10deg); }
  10% { transform: rotate(-9deg); }
  15% { transform: rotate(8deg); }
  20% { transform: rotate(-7deg); }
  25% { transform: rotate(6deg); }
  30% { transform: rotate(-5deg); }
  35% { transform: rotate(4deg); }
  40% { transform: rotate(-3deg); }
  45% { transform: rotate(2deg); }
  50% { transform: rotate(0); } /
  100% { transform: rotate(0); }
}

@keyframes swinging{
  0% { transform: rotate(0); }
  5% { transform: rotate(10deg); }
  10% { transform: rotate(-9deg); }
  15% { transform: rotate(8deg); }
  20% { transform: rotate(-7deg); }
  25% { transform: rotate(6deg); }
  30% { transform: rotate(-5deg); }
  35% { transform: rotate(4deg); }
  40% { transform: rotate(-3deg); }
  45% { transform: rotate(2deg); }
  50% { transform: rotate(0); }
  100% { transform: rotate(0); }
}
